/* --- two columns ---*/

.hiz-col {
    width: 39%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.der-col {
    width: 49%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: 1em;*/
    float: right;
    background-color: #122140;
}

.der-col-nc {
    width: 49%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: 1em;*/
    float: right;
   /* background-color: #122140; */
}